@utility switch {
  --switch-track-fill: var(--switch-default-false-fill);

  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--switch-track-width);
  height: var(--switch-track-height);
  padding: calc((var(--switch-track-height) - var(--switch-thumb-size)) / 2);
  border: none;
  border-radius: var(--switch-radius);
  background-color: var(--switch-track-fill);
  cursor: var(--cursor-interactive);
  vertical-align: middle;
  transition: var(--switch-transition);

  &[data-checked] {
    --switch-track-fill: var(--switch-default-true-fill);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--switch-focus-ring-width) var(--switch-focus-ring-style) var(--switch-focus-ring-color);
    outline-offset: var(--switch-focus-ring-offset);
  }
}

@utility switch-disabled {
  cursor: var(--cursor-disabled);
  --switch-track-fill: var(--switch-disabled-false-fill);

  &[data-checked] {
    --switch-track-fill: var(--switch-disabled-true-fill);
  }
}

@utility switch-thumb {
  display: block;
  flex-shrink: 0;
  width: var(--switch-thumb-size);
  height: var(--switch-thumb-size);
  border-radius: 50%;
  background-color: var(--switch-thumb-fill);
  transition: var(--switch-thumb-transition);

  &[data-checked] {
    translate: var(--switch-thumb-offset) 0;
  }
}
