@utility select-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: var(--select-field-gap);
}

@utility select-field-label {
  width: 100%;
  color: var(--select-field-label-fill);
  font-family: var(--select-field-label-font-family);
  font-size: var(--select-field-label-font-size);
  font-weight: var(--select-field-label-font-weight);
  line-height: var(--select-field-label-line-height);
  letter-spacing: var(--select-field-label-letter-spacing);
}

@utility select-field-helper {
  width: 100%;
  color: var(--select-field-helper-fill);
  font-family: var(--select-field-helper-font-family);
  font-size: var(--select-field-helper-font-size);
  font-weight: var(--select-field-helper-font-weight);
  line-height: var(--select-field-helper-line-height);
  letter-spacing: var(--select-field-helper-letter-spacing);
}

@utility select-field-preset-size-sm {
  --select-field-gap: var(--drop-down-small-spacing-item-spacing);
  --select-field-label-fill: var(--drop-down-small-label-enabled-fill);
  --select-field-label-font-family: var(--drop-down-small-label-enabled-font-family);
  --select-field-label-font-size: var(--drop-down-small-label-enabled-font-size);
  --select-field-label-font-weight: var(--drop-down-small-label-enabled-font-weight);
  --select-field-label-line-height: var(--drop-down-small-label-enabled-line-height);
  --select-field-label-letter-spacing: var(--drop-down-small-label-enabled-letter-spacing);
  --select-field-helper-fill: var(--drop-down-small-helper-text-enabled-fill);
  --select-field-helper-font-family: var(--drop-down-small-helper-text-enabled-font-family);
  --select-field-helper-font-size: var(--drop-down-small-helper-text-enabled-font-size);
  --select-field-helper-font-weight: var(--drop-down-small-helper-text-enabled-font-weight);
  --select-field-helper-line-height: var(--drop-down-small-helper-text-enabled-line-height);
  --select-field-helper-letter-spacing: var(--drop-down-small-helper-text-enabled-letter-spacing);

  &:focus-within:not(.select-field-disabled):not(.select-field-invalid) {
    --select-field-label-fill: var(--drop-down-small-label-focused-fill);
    --select-field-helper-fill: var(--drop-down-small-helper-text-focused-fill);
  }
}

@utility select-field-preset-size-lg {
  --select-field-gap: var(--drop-down-large-spacing-item-spacing);
  --select-field-label-fill: var(--drop-down-large-label-enabled-fill);
  --select-field-label-font-family: var(--drop-down-large-label-enabled-font-family);
  --select-field-label-font-size: var(--drop-down-large-label-enabled-font-size);
  --select-field-label-font-weight: var(--drop-down-large-label-enabled-font-weight);
  --select-field-label-line-height: var(--drop-down-large-label-enabled-line-height);
  --select-field-label-letter-spacing: var(--drop-down-large-label-enabled-letter-spacing);
  --select-field-helper-fill: var(--drop-down-large-helper-text-enabled-fill);
  --select-field-helper-font-family: var(--drop-down-large-helper-text-enabled-font-family);
  --select-field-helper-font-size: var(--drop-down-large-helper-text-enabled-font-size);
  --select-field-helper-font-weight: var(--drop-down-large-helper-text-enabled-font-weight);
  --select-field-helper-line-height: var(--drop-down-large-helper-text-enabled-line-height);
  --select-field-helper-letter-spacing: var(--drop-down-large-helper-text-enabled-letter-spacing);

  &:focus-within:not(.select-field-disabled):not(.select-field-invalid) {
    --select-field-label-fill: var(--drop-down-large-label-focused-fill);
    --select-field-helper-fill: var(--drop-down-large-helper-text-focused-fill);
  }
}

@utility select-field-preset-size-sm-disabled {
  --select-field-label-fill: var(--drop-down-small-label-disabled-fill);
  --select-field-helper-fill: var(--drop-down-small-helper-text-disabled-fill);
}

@utility select-field-preset-size-lg-disabled {
  --select-field-label-fill: var(--drop-down-large-label-disabled-fill);
  --select-field-helper-fill: var(--drop-down-large-helper-text-disabled-fill);
}

@utility select-field-preset-size-sm-invalid {
  --select-field-label-fill: var(--drop-down-small-label-error-fill);
  --select-field-helper-fill: var(--drop-down-small-helper-text-error-fill);
}

@utility select-field-preset-size-lg-invalid {
  --select-field-label-fill: var(--drop-down-large-label-error-fill);
  --select-field-helper-fill: var(--drop-down-large-helper-text-error-fill);
}

@utility select-field-disabled {
  cursor: var(--cursor-disabled);
}
