@layer components {
  .ds-textarea-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: var(--textarea-field-gap);
  }

  .ds-textarea-field__label {
    width: 100%;
    color: var(--textarea-field-label-fill);
    font-family: var(--textarea-field-label-font-family);
    font-size: var(--textarea-field-label-font-size);
    font-weight: var(--textarea-field-label-font-weight);
    line-height: var(--textarea-field-label-line-height);
    letter-spacing: var(--textarea-field-label-letter-spacing);
  }

  .ds-textarea-field__helper {
    width: 100%;
    color: var(--textarea-field-helper-fill);
    font-family: var(--textarea-field-helper-font-family);
    font-size: var(--textarea-field-helper-font-size);
    font-weight: var(--textarea-field-helper-font-weight);
    line-height: var(--textarea-field-helper-line-height);
    letter-spacing: var(--textarea-field-helper-letter-spacing);
  }

  /* Small — default */
  .ds-textarea-field--sm.ds-textarea-field--default {
    --textarea-field-gap: var(--text-area-small-spacing-item-spacing);
    --textarea-field-label-fill: var(--text-area-small-label-enabled-fill);
    --textarea-field-label-font-family: var(--text-area-small-label-enabled-font-family);
    --textarea-field-label-font-size: var(--text-area-small-label-enabled-font-size);
    --textarea-field-label-font-weight: var(--text-area-small-label-enabled-font-weight);
    --textarea-field-label-line-height: var(--text-area-small-label-enabled-line-height);
    --textarea-field-label-letter-spacing: var(--text-area-small-label-enabled-letter-spacing);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-enabled-fill);
    --textarea-field-helper-font-family: var(--text-area-small-helper-text-enabled-font-family);
    --textarea-field-helper-font-size: var(--text-area-small-helper-text-enabled-font-size);
    --textarea-field-helper-font-weight: var(--text-area-small-helper-text-enabled-font-weight);
    --textarea-field-helper-line-height: var(--text-area-small-helper-text-enabled-line-height);
    --textarea-field-helper-letter-spacing: var(
      --text-area-small-helper-text-enabled-letter-spacing
    );
  }

  .ds-textarea-field--sm.ds-textarea-field--default:focus-within:not(
      .ds-textarea-field--disabled
    ):not(.ds-textarea-field--error) {
    --textarea-field-label-fill: var(--text-area-small-label-focused-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-focused-fill);
  }

  .ds-textarea-field--sm.ds-textarea-field--default.ds-textarea-field--disabled {
    --textarea-field-label-fill: var(--text-area-small-label-disabled-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-disabled-fill);
  }

  .ds-textarea-field--sm.ds-textarea-field--default.ds-textarea-field--error {
    --textarea-field-label-fill: var(--text-area-small-label-error-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-error-fill);
  }

  /* Small — suffix */
  .ds-textarea-field--sm.ds-textarea-field--suffix {
    --textarea-field-gap: var(--text-area-small-spacing-item-spacing);
    --textarea-field-label-fill: var(--text-area-small-label-enabled-fill);
    --textarea-field-label-font-family: var(--text-area-small-label-enabled-font-family);
    --textarea-field-label-font-size: var(--text-area-small-label-enabled-font-size);
    --textarea-field-label-font-weight: var(--text-area-small-label-enabled-font-weight);
    --textarea-field-label-line-height: var(--text-area-small-label-enabled-line-height);
    --textarea-field-label-letter-spacing: var(--text-area-small-label-enabled-letter-spacing);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-enabled-fill);
    --textarea-field-helper-font-family: var(--text-area-small-helper-text-enabled-font-family);
    --textarea-field-helper-font-size: var(--text-area-small-helper-text-enabled-font-size);
    --textarea-field-helper-font-weight: var(--text-area-small-helper-text-enabled-font-weight);
    --textarea-field-helper-line-height: var(--text-area-small-helper-text-enabled-line-height);
    --textarea-field-helper-letter-spacing: var(
      --text-area-small-helper-text-enabled-letter-spacing
    );
  }

  .ds-textarea-field--sm.ds-textarea-field--suffix:focus-within:not(
      .ds-textarea-field--disabled
    ):not(.ds-textarea-field--error) {
    --textarea-field-label-fill: var(--text-area-small-label-focused-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-focused-fill);
  }

  .ds-textarea-field--sm.ds-textarea-field--suffix.ds-textarea-field--disabled {
    --textarea-field-label-fill: var(--text-area-small-label-disabled-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-disabled-fill);
  }

  .ds-textarea-field--sm.ds-textarea-field--suffix.ds-textarea-field--error {
    --textarea-field-label-fill: var(--text-area-small-label-error-fill);
    --textarea-field-helper-fill: var(--text-area-small-helper-text-error-fill);
  }

  /* Large — default */
  .ds-textarea-field--lg.ds-textarea-field--default {
    --textarea-field-gap: var(--text-area-large-spacing-item-spacing);
    --textarea-field-label-fill: var(--text-area-large-label-enabled-fill);
    --textarea-field-label-font-family: var(--text-area-large-label-enabled-font-family);
    --textarea-field-label-font-size: var(--text-area-large-label-enabled-font-size);
    --textarea-field-label-font-weight: var(--text-area-large-label-enabled-font-weight);
    --textarea-field-label-line-height: var(--text-area-large-label-enabled-line-height);
    --textarea-field-label-letter-spacing: var(--text-area-large-label-enabled-letter-spacing);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-enabled-fill);
    --textarea-field-helper-font-family: var(--text-area-large-helper-text-enabled-font-family);
    --textarea-field-helper-font-size: var(--text-area-large-helper-text-enabled-font-size);
    --textarea-field-helper-font-weight: var(--text-area-large-helper-text-enabled-font-weight);
    --textarea-field-helper-line-height: var(--text-area-large-helper-text-enabled-line-height);
    --textarea-field-helper-letter-spacing: var(
      --text-area-large-helper-text-enabled-letter-spacing
    );
  }

  .ds-textarea-field--lg.ds-textarea-field--default:focus-within:not(
      .ds-textarea-field--disabled
    ):not(.ds-textarea-field--error) {
    --textarea-field-label-fill: var(--text-area-large-label-focused-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-focused-fill);
  }

  .ds-textarea-field--lg.ds-textarea-field--default.ds-textarea-field--disabled {
    --textarea-field-label-fill: var(--text-area-large-label-disabled-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-disabled-fill);
  }

  .ds-textarea-field--lg.ds-textarea-field--default.ds-textarea-field--error {
    --textarea-field-label-fill: var(--text-area-large-label-error-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-error-fill);
  }

  /* Large — suffix */
  .ds-textarea-field--lg.ds-textarea-field--suffix {
    --textarea-field-gap: var(--text-area-large-spacing-item-spacing);
    --textarea-field-label-fill: var(--text-area-large-label-enabled-fill);
    --textarea-field-label-font-family: var(--text-area-large-label-enabled-font-family);
    --textarea-field-label-font-size: var(--text-area-large-label-enabled-font-size);
    --textarea-field-label-font-weight: var(--text-area-large-label-enabled-font-weight);
    --textarea-field-label-line-height: var(--text-area-large-label-enabled-line-height);
    --textarea-field-label-letter-spacing: var(--text-area-large-label-enabled-letter-spacing);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-enabled-fill);
    --textarea-field-helper-font-family: var(--text-area-large-helper-text-enabled-font-family);
    --textarea-field-helper-font-size: var(--text-area-large-helper-text-enabled-font-size);
    --textarea-field-helper-font-weight: var(--text-area-large-helper-text-enabled-font-weight);
    --textarea-field-helper-line-height: var(--text-area-large-helper-text-enabled-line-height);
    --textarea-field-helper-letter-spacing: var(
      --text-area-large-helper-text-enabled-letter-spacing
    );
  }

  .ds-textarea-field--lg.ds-textarea-field--suffix:focus-within:not(
      .ds-textarea-field--disabled
    ):not(.ds-textarea-field--error) {
    --textarea-field-label-fill: var(--text-area-large-label-focused-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-focused-fill);
  }

  .ds-textarea-field--lg.ds-textarea-field--suffix.ds-textarea-field--disabled {
    --textarea-field-label-fill: var(--text-area-large-label-disabled-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-disabled-fill);
  }

  .ds-textarea-field--lg.ds-textarea-field--suffix.ds-textarea-field--error {
    --textarea-field-label-fill: var(--text-area-large-label-error-fill);
    --textarea-field-helper-fill: var(--text-area-large-helper-text-error-fill);
  }

  .ds-textarea-field--disabled {
    cursor: var(--cursor-disabled);
  }
}
